.u-section-1 {
  background-image: url("images/Frame7.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 2500px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  margin: 85px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 62px 751px 0 251px;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: -38px 251px 0 751px;
}

.u-section-1 .u-text-4 {
  font-weight: 400;
  font-size: 1rem;
  margin: 20px 608px 0 434px;
}

.u-section-1 .u-text-5 {
  font-weight: 400;
  font-size: 1rem;
  margin: -300px 758px 0 154px;
}

.u-section-1 .u-text-6 {
  font-weight: 400;
  font-size: 1rem;
  margin: -300px 307px 0 654px;
}

.u-section-1 .u-text-7 {
  font-weight: 400;
  margin: -200px 174px 0 902px;
}

.u-section-1 .u-text-8 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 110px 348px 0 654px;
}

.u-section-1 .u-text-9 {
  font-weight: 400;
  font-size: 1rem;
  margin: -38px 608px 0 434px;
}

.u-section-1 .u-text-10 {
  font-weight: 400;
  font-size: 1rem;
  margin: -250px 758px 0 154px;
}

.u-section-1 .u-text-11 {
  font-weight: 400;
  font-size: 1rem;
  margin: -175px 292px 0 654px;
}

.u-section-1 .u-text-12 {
  font-weight: 400;
  font-size: 1rem;
  margin: -175px 154px 0 902px;
}

.u-section-1 .u-text-13 {
  font-size: 2.25rem;
  width: 246px;
  margin: 54px auto 0;
}

.u-section-1 .u-text-14 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 46px 907px 0 169px;
}

.u-section-1 .u-text-15 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: -38px 407px 0 669px;
}

.u-section-1 .u-text-16 {
  font-weight: 400;
  font-size: 1rem;
  margin: 20px 848px 0 154px;
}

.u-section-1 .u-text-17 {
  font-weight: 400;
  font-size: 1rem;
  margin: -150px 277px 0 669px;
}

.u-section-1 .u-text-18 {
  font-weight: 400;
  font-size: 1rem;
  margin: -100px 169px 0 887px;
}

.u-section-1 .u-text-19 {
  font-weight: 400;
  font-size: 1rem;
  margin: -100px 593px 0 449px;
}

.u-section-1 .u-text-20 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 58px 893px 0 154px;
}

.u-section-1 .u-text-21 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: -38px 231px 0 658px;
}

.u-section-1 .u-text-22 {
  font-weight: 400;
  font-size: 1rem;
  margin: 20px 659px 0 404px;
}

.u-section-1 .u-text-23 {
  font-weight: 400;
  font-size: 1rem;
  margin: -50px 893px 0 154px;
}

.u-section-1 .u-text-24 {
  font-weight: 400;
  font-size: 1rem;
  margin: -50px 124px 0 872px;
}

.u-section-1 .u-text-25 {
  font-weight: 400;
  font-size: 1rem;
  margin: -50px 416px 0 624px;
}

.u-section-1 .u-text-26 {
  font-size: 2.25rem;
  width: 328px;
  margin: 84px auto 0;
}

.u-section-1 .u-text-27 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 62px 893px 0 154px;
}

.u-section-1 .u-text-28 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: -38px 307px 0 654px;
}

.u-section-1 .u-text-29 {
  font-weight: 400;
  font-size: 1rem;
  margin: 22px 676px 0 404px;
}

.u-section-1 .u-text-30 {
  font-weight: 400;
  font-size: 1rem;
  margin: -175px 815px 0 154px;
}

.u-section-1 .u-text-31 {
  font-weight: 400;
  font-size: 1rem;
  margin: -175px 379px 0 624px;
}

.u-section-1 .u-text-32 {
  font-weight: 400;
  font-size: 1rem;
  margin: -150px 204px 0 872px;
}

.u-section-1 .u-text-33 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 67px 857px 0 154px;
}

.u-section-1 .u-text-34 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: -38px 401px 0 654px;
}

.u-section-1 .u-text-35 {
  font-weight: 400;
  font-size: 1rem;
  margin: 41px 378px 0 624px;
}

.u-section-1 .u-text-36 {
  font-weight: 400;
  font-size: 1rem;
  margin: -125px 204px 0 872px;
}

.u-section-1 .u-text-37 {
  font-weight: 400;
  font-size: 1rem;
  margin: -129px 787px 0 154px;
}

.u-section-1 .u-text-38 {
  font-weight: 400;
  font-size: 1rem;
  margin: -71px 675px 0 403px;
}

.u-section-1 .u-text-39 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 110px 798px 0 154px;
}

.u-section-1 .u-text-40 {
  font-weight: 400;
  margin: 37px 815px 0 154px;
}

.u-section-1 .u-text-41 {
  font-weight: 400;
  margin: -250px 675px 60px 403px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2248px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 78px;
    margin-left: 292px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 69px;
    margin-right: 716px;
    margin-left: 95px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-right: 95px;
    margin-left: 707px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 37px;
    margin-right: 504px;
    margin-left: 339px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-right: 634px;
    margin-left: 96px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-right: 214px;
    margin-left: 548px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-right: 80px;
    margin-left: 796px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-top: 62px;
    margin-right: 255px;
    margin-left: 548px;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-top: 0;
    margin-right: 504px;
    margin-left: 339px;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-right: 617px;
    margin-left: 96px;
  }

  .u-section-1 .u-text-11 {
    width: auto;
    margin-right: 199px;
    margin-left: 548px;
  }

  .u-section-1 .u-text-12 {
    width: auto;
    margin-right: 60px;
    margin-left: 796px;
  }

  .u-section-1 .u-text-13 {
    margin-top: 33px;
  }

  .u-section-1 .u-text-14 {
    width: auto;
    margin-top: 30px;
    margin-right: 706px;
    margin-left: 96px;
  }

  .u-section-1 .u-text-15 {
    width: auto;
    margin-right: 328px;
    margin-left: 548px;
  }

  .u-section-1 .u-text-16 {
    width: auto;
    margin-right: 706px;
    margin-left: 96px;
  }

  .u-section-1 .u-text-17 {
    width: auto;
    margin-right: 198px;
    margin-left: 548px;
  }

  .u-section-1 .u-text-18 {
    width: auto;
    margin-right: 96px;
    margin-left: 760px;
  }

  .u-section-1 .u-text-19 {
    width: auto;
    margin-right: 503px;
    margin-left: 339px;
  }

  .u-section-1 .u-text-20 {
    width: auto;
    margin-top: 24px;
    margin-right: 752px;
    margin-left: 96px;
  }

  .u-section-1 .u-text-21 {
    width: auto;
    margin-right: 144px;
    margin-left: 548px;
  }

  .u-section-1 .u-text-22 {
    width: auto;
    margin-right: 572px;
    margin-left: 291px;
  }

  .u-section-1 .u-text-23 {
    width: auto;
    margin-right: 751px;
    margin-left: 96px;
  }

  .u-section-1 .u-text-24 {
    width: auto;
    margin-right: 48px;
    margin-left: 748px;
  }

  .u-section-1 .u-text-25 {
    width: auto;
    margin-right: 339px;
    margin-left: 500px;
  }

  .u-section-1 .u-text-26 {
    margin-top: 60px;
  }

  .u-section-1 .u-text-27 {
    width: auto;
    margin-top: 34px;
    margin-right: 752px;
    margin-left: 96px;
  }

  .u-section-1 .u-text-28 {
    width: auto;
    margin-right: 214px;
    margin-left: 548px;
  }

  .u-section-1 .u-text-29 {
    width: auto;
    margin-top: 40px;
    margin-right: 593px;
    margin-left: 291px;
  }

  .u-section-1 .u-text-30 {
    width: auto;
    margin-right: 674px;
    margin-left: 96px;
  }

  .u-section-1 .u-text-31 {
    width: auto;
    margin-right: 302px;
    margin-left: 500px;
  }

  .u-section-1 .u-text-32 {
    width: auto;
    margin-right: 143px;
    margin-left: 743px;
  }

  .u-section-1 .u-text-33 {
    width: auto;
    margin-top: 49px;
    margin-right: 716px;
    margin-left: 96px;
  }

  .u-section-1 .u-text-34 {
    width: auto;
    margin-right: 308px;
    margin-left: 548px;
  }

  .u-section-1 .u-text-35 {
    width: auto;
    margin-top: 31px;
    margin-right: 302px;
    margin-left: 500px;
  }

  .u-section-1 .u-text-36 {
    width: auto;
    margin-right: 133px;
    margin-left: 743px;
  }

  .u-section-1 .u-text-37 {
    width: auto;
    margin-right: 645px;
    margin-left: 96px;
  }

  .u-section-1 .u-text-38 {
    width: auto;
    margin-right: 572px;
    margin-left: 306px;
  }

  .u-section-1 .u-text-39 {
    width: auto;
    margin-top: 62px;
    margin-right: 657px;
    margin-left: 96px;
  }

  .u-section-1 .u-text-40 {
    width: auto;
    margin-top: 53px;
    margin-right: 675px;
    margin-left: 95px;
  }

  .u-section-1 .u-text-41 {
    width: auto;
    margin-right: 587px;
    margin-bottom: 38px;
    margin-left: 291px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2157px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 223px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 40px;
    margin-right: 566px;
    margin-left: 16px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 144px;
    margin-left: 438px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 31px;
    margin-right: 386px;
    margin-left: 237px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 488px;
    margin-left: 16px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 104px;
    margin-left: 438px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
    margin-left: 656px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 121px;
    margin-right: 144px;
    margin-left: 439px;
  }

  .u-section-1 .u-text-9 {
    margin-top: -59px;
    margin-right: 386px;
    margin-left: 237px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 483px;
    margin-left: 16px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 89px;
    margin-left: 438px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 0;
    margin-left: 636px;
  }

  .u-section-1 .u-text-13 {
    margin-top: 35px;
  }

  .u-section-1 .u-text-14 {
    margin-top: 45px;
    margin-right: 647px;
    margin-left: 12px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 223px;
    margin-left: 434px;
  }

  .u-section-1 .u-text-16 {
    margin-top: 16px;
    margin-right: 570px;
    margin-left: 12px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 93px;
    margin-left: 434px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 12px;
    margin-left: 624px;
  }

  .u-section-1 .u-text-19 {
    margin-right: 473px;
    margin-left: 150px;
  }

  .u-section-1 .u-text-20 {
    margin-top: 41px;
    margin-right: 611px;
    margin-left: 16px;
  }

  .u-section-1 .u-text-21 {
    margin-right: 31px;
    margin-left: 438px;
  }

  .u-section-1 .u-text-22 {
    margin-top: 13px;
    margin-right: 498px;
    margin-left: 147px;
  }

  .u-section-1 .u-text-23 {
    margin-right: 619px;
    margin-left: 9px;
  }

  .u-section-1 .u-text-24 {
    margin-right: 8px;
    margin-left: 569px;
  }

  .u-section-1 .u-text-25 {
    margin-right: 189px;
    margin-left: 432px;
  }

  .u-section-1 .u-text-26 {
    margin-top: 41px;
  }

  .u-section-1 .u-text-27 {
    margin-top: 15px;
    margin-right: 611px;
    margin-left: 16px;
  }

  .u-section-1 .u-text-28 {
    margin-right: 104px;
    margin-left: 438px;
  }

  .u-section-1 .u-text-29 {
    margin-top: 5px;
    margin-right: 472px;
    margin-left: 189px;
  }

  .u-section-1 .u-text-30 {
    margin-right: 542px;
    margin-left: 9px;
  }

  .u-section-1 .u-text-31 {
    margin-right: 153px;
    margin-left: 431px;
  }

  .u-section-1 .u-text-32 {
    margin-right: 26px;
    margin-left: 629px;
  }

  .u-section-1 .u-text-33 {
    margin-top: 54px;
    margin-right: 575px;
    margin-left: 16px;
  }

  .u-section-1 .u-text-34 {
    margin-right: 198px;
    margin-left: 438px;
  }

  .u-section-1 .u-text-35 {
    margin-top: 32px;
    margin-right: 152px;
    margin-left: 431px;
  }

  .u-section-1 .u-text-36 {
    margin-right: 28px;
    margin-left: 629px;
  }

  .u-section-1 .u-text-37 {
    margin-right: 514px;
    margin-left: 8px;
  }

  .u-section-1 .u-text-38 {
    margin-right: 423px;
    margin-left: 237px;
  }

  .u-section-1 .u-text-39 {
    margin-top: 78px;
    margin-right: 517px;
    margin-left: 15px;
  }

  .u-section-1 .u-text-40 {
    margin-top: 18px;
    margin-right: 543px;
    margin-left: 8px;
  }

  .u-section-1 .u-text-41 {
    margin-right: 471px;
    margin-bottom: 51px;
    margin-left: 189px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1915px;
  }

  .u-section-1 .u-text-1 {
    width: 285px;
    margin-top: 27px;
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: 9px;
    margin-right: 412px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 81px;
    margin-left: 321px;
  }

  .u-section-1 .u-text-4 {
    font-size: 0.875rem;
    margin-top: 7px;
    margin-right: 250px;
    margin-left: 203px;
  }

  .u-section-1 .u-text-5 {
    font-size: 0.875rem;
    margin-top: -264px;
    margin-right: 362px;
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    font-size: 0.875rem;
    margin-top: -271px;
    margin-right: 64px;
    margin-left: 322px;
  }

  .u-section-1 .u-text-7 {
    margin-top: -191px;
    margin-left: 476px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 26px;
    margin-right: 82px;
    margin-left: 321px;
  }

  .u-section-1 .u-text-9 {
    font-size: 0.875rem;
    margin-top: 25px;
    margin-right: 250px;
    margin-left: 202px;
  }

  .u-section-1 .u-text-10 {
    font-size: 0.875rem;
    margin-top: -215px;
    margin-right: 348px;
    margin-left: 0;
  }

  .u-section-1 .u-text-11 {
    font-size: 0.875rem;
    margin-top: -220px;
    margin-right: 92px;
    margin-left: 311px;
  }

  .u-section-1 .u-text-12 {
    font-size: 0.875rem;
    margin-top: -176px;
    margin-right: -13px;
    margin-left: 476px;
  }

  .u-section-1 .u-text-13 {
    width: auto;
    margin-top: 84px;
    margin-right: 165px;
    margin-left: 129px;
  }

  .u-section-1 .u-text-14 {
    margin-top: 20px;
    margin-right: 479px;
    margin-left: 0;
  }

  .u-section-1 .u-text-15 {
    margin-right: 199px;
    margin-left: 278px;
  }

  .u-section-1 .u-text-16 {
    font-size: 0.875rem;
    margin-top: 11px;
    margin-right: 412px;
    margin-left: 0;
  }

  .u-section-1 .u-text-17 {
    font-size: 0.875rem;
    margin-top: -132px;
    margin-right: 104px;
    margin-left: 270px;
  }

  .u-section-1 .u-text-18 {
    font-size: 0.875rem;
    margin-top: -88px;
    margin-right: 24px;
    margin-left: 467px;
  }

  .u-section-1 .u-text-19 {
    font-size: 0.875rem;
    margin-top: -88px;
    margin-right: 330px;
    margin-left: 153px;
  }

  .u-section-1 .u-text-20 {
    margin-top: 14px;
    margin-right: 447px;
    margin-left: 0;
  }

  .u-section-1 .u-text-21 {
    margin-right: 35px;
    margin-left: 254px;
  }

  .u-section-1 .u-text-22 {
    font-size: 0.875rem;
    margin-top: 7px;
    margin-right: 362px;
    margin-left: 128px;
  }

  .u-section-1 .u-text-23 {
    font-size: 0.875rem;
    margin-top: -44px;
    margin-right: 464px;
    margin-left: 0;
  }

  .u-section-1 .u-text-24 {
    font-size: 0.875rem;
    margin-top: -44px;
    margin-right: 21px;
    margin-left: 375px;
  }

  .u-section-1 .u-text-25 {
    font-size: 0.875rem;
    margin-top: -44px;
    margin-right: 203px;
    margin-left: 254px;
  }

  .u-section-1 .u-text-26 {
    margin-top: 64px;
  }

  .u-section-1 .u-text-27 {
    margin-top: 39px;
    margin-right: 447px;
    margin-left: 0;
  }

  .u-section-1 .u-text-28 {
    margin-right: 79px;
    margin-left: 283px;
  }

  .u-section-1 .u-text-29 {
    font-size: 0.875rem;
    margin-top: 6px;
    margin-right: 295px;
    margin-left: 186px;
  }

  .u-section-1 .u-text-30 {
    font-size: 0.875rem;
    margin-top: -154px;
    margin-right: 386px;
    margin-left: 0;
  }

  .u-section-1 .u-text-31 {
    font-size: 0.875rem;
    margin-top: -160px;
    margin-right: 123px;
    margin-left: 283px;
  }

  .u-section-1 .u-text-32 {
    font-size: 0.875rem;
    margin-top: -126px;
    margin-right: 21px;
    margin-left: 455px;
  }

  .u-section-1 .u-text-33 {
    margin-top: 61px;
    margin-right: 411px;
    margin-left: 0;
  }

  .u-section-1 .u-text-34 {
    margin-right: 173px;
    margin-left: 283px;
  }

  .u-section-1 .u-text-35 {
    font-size: 0.875rem;
    margin-top: 6px;
    margin-right: 119px;
    margin-left: 284px;
  }

  .u-section-1 .u-text-36 {
    font-size: 0.875rem;
    margin-top: -110px;
    margin-right: 36px;
    margin-left: 455px;
  }

  .u-section-1 .u-text-37 {
    font-size: 0.875rem;
    margin-top: -110px;
    margin-right: 362px;
    margin-left: 0;
  }

  .u-section-1 .u-text-38 {
    font-size: 0.875rem;
    margin-top: -66px;
    margin-right: 295px;
    margin-left: 186px;
  }

  .u-section-1 .u-text-39 {
    margin-top: 94px;
    margin-right: 352px;
    margin-left: 0;
  }

  .u-section-1 .u-text-40 {
    margin-top: 21px;
    margin-right: 370px;
    margin-left: 0;
  }

  .u-section-1 .u-text-41 {
    margin-right: 299px;
    margin-bottom: 27px;
    margin-left: 186px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3120px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 25px;
    margin-left: 28px;
    margin-right: 28px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 11px;
    margin-right: 212px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 530px;
    margin-right: 202px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-top: -568px;
    margin-right: 0;
    margin-left: 221px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 145px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 314px;
    margin-right: 167px;
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-top: -188px;
    margin-right: 17px;
    margin-left: 221px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 27px;
    margin-right: 203px;
    margin-left: 0;
  }

  .u-section-1 .u-text-9 {
    margin-top: -548px;
    margin-right: 24px;
    margin-left: 220px;
  }

  .u-section-1 .u-text-10 {
    margin-top: -220px;
    margin-right: 130px;
  }

  .u-section-1 .u-text-11 {
    margin-top: 351px;
    margin-right: 170px;
    margin-left: 0;
  }

  .u-section-1 .u-text-12 {
    margin-top: -154px;
    margin-right: 47px;
    margin-left: 196px;
  }

  .u-section-1 .u-text-13 {
    width: 246px;
    margin-top: 54px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-14 {
    margin-top: 25px;
    margin-right: 279px;
  }

  .u-section-1 .u-text-15 {
    margin-top: 158px;
    margin-right: 277px;
    margin-left: 0;
  }

  .u-section-1 .u-text-16 {
    margin-top: -191px;
    margin-right: 212px;
  }

  .u-section-1 .u-text-17 {
    margin-top: 78px;
    margin-right: 174px;
    margin-left: 0;
  }

  .u-section-1 .u-text-18 {
    margin-right: 77px;
    margin-left: 193px;
  }

  .u-section-1 .u-text-19 {
    margin-top: -305px;
    margin-right: 90px;
    margin-left: 193px;
  }

  .u-section-1 .u-text-20 {
    margin-top: 190px;
    margin-right: 247px;
  }

  .u-section-1 .u-text-21 {
    margin-top: 85px;
    margin-right: 90px;
    margin-left: 0;
  }

  .u-section-1 .u-text-22 {
    margin-top: -104px;
    margin-right: 97px;
    margin-left: 193px;
  }

  .u-section-1 .u-text-23 {
    margin-right: 290px;
  }

  .u-section-1 .u-text-24 {
    margin-top: 73px;
    margin-right: 19px;
    margin-left: 196px;
  }

  .u-section-1 .u-text-25 {
    margin-right: 235px;
    margin-left: 0;
  }

  .u-section-1 .u-text-26 {
    width: auto;
    margin-top: 59px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1 .u-text-27 {
    margin-top: 24px;
    margin-right: 247px;
  }

  .u-section-1 .u-text-28 {
    margin-top: 204px;
    margin-right: 162px;
    margin-left: 0;
  }

  .u-section-1 .u-text-29 {
    margin-top: -233px;
    margin-right: 86px;
    margin-left: 196px;
  }

  .u-section-1 .u-text-30 {
    margin-right: 195px;
  }

  .u-section-1 .u-text-31 {
    margin-top: 94px;
    margin-right: 204px;
    margin-left: 0;
  }

  .u-section-1 .u-text-32 {
    margin-top: -132px;
    margin-right: 90px;
    margin-left: 193px;
  }

  .u-section-1 .u-text-33 {
    margin-top: 47px;
    margin-right: 211px;
  }

  .u-section-1 .u-text-34 {
    margin-top: 129px;
    margin-right: 256px;
    margin-left: 0;
  }

  .u-section-1 .u-text-35 {
    margin-top: 17px;
    margin-right: 221px;
    margin-left: 0;
  }

  .u-section-1 .u-text-36 {
    margin-right: 28px;
    margin-left: 193px;
  }

  .u-section-1 .u-text-37 {
    margin-top: -282px;
    margin-right: 162px;
  }

  .u-section-1 .u-text-38 {
    margin-right: 86px;
    margin-left: 193px;
  }

  .u-section-1 .u-text-39 {
    margin-top: 273px;
    margin-right: 152px;
  }

  .u-section-1 .u-text-40 {
    margin-top: 13px;
    margin-right: 170px;
  }

  .u-section-1 .u-text-41 {
    margin-right: 77px;
    margin-bottom: 19px;
    margin-left: 193px;
  }
}